/*
--------------------------------------------
--------------RESPONSIVE DESIGN-------------
--------------------------------------------
*/
:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7e7e7;
    color: #121212;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
}

/*
--------------------------------------------
---------------NAVBAR STYLES----------------
--------------------------------------------
*/
.navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 1rem 20rem;
    z-index: 100;
}

.nav-link-list {
    display: flex;
    flex-direction: row;
}

.nav-link > a {
    text-decoration: none;
    color: #e7e7e7;
}

.hamurger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.line {
    border-top-color: #e7e7e7;
    border-top-width: 0.1rem;
    border-top-style: solid;
    width: 2rem;
    margin-bottom: 0.5rem;
}

.navpage {
    display:none;
    height: 0%;
    width: 100%;
    position: fixed;
    padding: auto;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }

/* .navpage-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.navpage a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navpage a:hover, .navpage a:focus {
    color: #f1f1f1;
}

.navpage .closebtn {
    position: absolute;
    top: 50px;
    right: 45px;
    font-size: 60px;
}
.navpage {
    overflow-y: auto;
}
.navpage a {
    font-size: 20px
} */


/*
--------------------------------------------
---------------HEADER STYLES----------------
--------------------------------------------
*/


/*
--------------------------------------------
----------------SERVICE CARD----------------
--------------------------------------------
*/


/*
--------------------------------------------
----------------MINISTRY CARD---------------
--------------------------------------------
*/


/*
--------------------------------------------
------------------VIEWS---------------------
--------------------------------------------
*/

/* Smartphones (extremely small devices) ----------- */
@media only screen and (max-width : 320px) {

}

/* Smartphones (popular mobile devices) ----------- */
@media (min-width: 576px) {
    
}

/* Smartphones (medium devices) ----------- */
@media (min-width: 768px) {
   
}

/* Large devices (Tablets, 992px and up) */
@media (min-width: 992px) {
   
}

/* Desktops and laptops ----------- */
@media (min-width: 1200px) {
 
}

/* Extra large device ----------- */
@media (min-width: 1400px) {
   
}
