/*
--------------------------------------------
--------------RESPONSIVE DESIGN-------------
--------------------------------------------
*/
:root {
    font-size: 62.5%;
    --black: #000000;
    --dark: #121212;
    --white: #ffffff;
    --light: #e7e7e7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light);
    color: var(--dark);
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
}
/* 
.show {
    display: flex;
}

.hidden {
    display: none;
} */

/*
--------------------------------------------
---------------NAVBAR STYLES----------------
--------------------------------------------
*/

.nav-img {
    width: 6.4rem;
    height: 6.4rem;
}

.sidenav-overlay {
    height: 0px;
    width: 0px;
}

.carousel {
    height: 95vh;
}

.pm {
    background-image: url(../images/IMG_6279.jpg);
    background-size: 650px 95vh;
    background-repeat: no-repeat;
    background-position: top;
    filter: brightness(0.5);
}

.pj {
    background-image: url(../images/IMG_6285.jpg);
    background-size: 1020px 95vh;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.5);
}


/*
--------------------------------------------
---------------HEADER STYLES----------------
--------------------------------------------
*/


/*
--------------------------------------------
----------------SERVICE CARD----------------
--------------------------------------------
*/


/*
--------------------------------------------
----------------MINISTRY CARD---------------
--------------------------------------------
*/


/*
--------------------------------------------
------------------VIEWS---------------------
--------------------------------------------
*/

/* Smartphones (extremely small devices) ----------- */
/* @media only screen and (max-width : 320px) {
    .carousel {
        height: 100vh;
    }
    
    .pm {
        background-image: url(../images/IMG_6279.jpg);
        background-size: 500px 700px;
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0.5);
    }
    
    .pj {
        background-image: url(../images/IMG_6285.jpg);
        background-size: 1020px 700px;
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0.5);
    }
} */

/* Smartphones (popular mobile devices) ----------- */
/* @media (min-width: 576px) {    
    .carousel {
        height: 100vh;
    }
    
    .pm {
        background-image: url(../images/IMG_6279.jpg);
        background-size: 500px 700px;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(0.5);
    }
    
    .pj {
        background-image: url(../images/IMG_6285.jpg);
        background-size: 500px 700px;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(0.5);
    }
} */

/* Smartphones (medium devices) ----------- */
/* @media (min-width: 768px) {    
    .carousel {
        height: 100vh;
    }
    
    .pm {
        background-image: url(../images/IMG_6279.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0.5);
    }
    
    .pj {
        background-image: url(../images/IMG_6285.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0.5);
    }
} */

/* Large devices (Tablets, 992px and up) */
@media (min-width: 992px) {    
    .carousel {
        height: 95vh;
    }
    
    .pm {
        background-image: url(../images/IMG_6279.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0.5);
    }
    
    .pj {
        background-image: url(../images/IMG_6285.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0.5);
    }
}

/* Desktops and laptops ----------- */
@media (min-width: 1200px) {    
    .carousel {
        height: 95vh;
    }
    
    .pm {
        background-image: url(../images/IMG_6279.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0.5);
    }
    
    .pj {
        background-image: url(../images/IMG_6285.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0.5);
    }
}

/* Extra large device ----------- */
@media (min-width: 1400px) {
    .carousel {
        height: 95vh;
    }
    
    .pm {
        background-image: url(../images/IMG_6279.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0.5);
    }
    
    .pj {
        background-image: url(../images/IMG_6285.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        filter: brightness(0.5);
    }
}
