<div class="col-lg-4 mb-25">
    <div class="social-overview-wrap">

        <div class="card border-0">
            <div class="card-header">
                <h6>Social Media Overview</h6>
            </div>
            <div class="card-body">
                <ul class="social-overview">
                    <li>
                        <div class="social-box bg-facebook">
                            <span class="la la-facebook"></span>
                        </div>
                        <h3>5,461</h3>
                        <p>Likes</p>
                    </li>
                    <li>
                        <div class="social-box bg-twitter">
                            <span class="la la-twitter"></span>
                        </div>
                        <h3>5,461</h3>
                        <p>Followers</p>
                    </li>
                    <li>
                        <div class="social-box gradientInstragram">
                            <span class="la la-instagram"></span>
                        </div>
                        <h3>5,461</h3>
                        <p>Followers</p>
                    </li>
                    <li>
                        <div class="social-box bg-youtube">
                            <span class="la la-youtube"></span>
                        </div>
                        <h3>5,461</h3>
                        <p>Subscribers</p>
                    </li>
                    <li>
                        <div class="social-box bg-pinterest">
                            <span class="la la-pinterest"></span>
                        </div>
                        <h3>5,461</h3>
                        <p>Followers</p>
                    </li>
                    <li>
                        <div class="social-box bg-linkedin">
                            <span class="la la-linkedin"></span>
                        </div>
                        <h3>5,461</h3>
                        <p>Followers</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
